#video-container {
	width: 640px;
	height: 365px;
	position: relative;
}

#video-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	opacity: 0;
	z-index: 2147483647;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
	background-color: #34495e;
}

#video-container:hover #video-controls {
	opacity: .9;
}

button {
	background: rgba(0,0,0,.3);
	border: 0;
	color: #EEE;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

button:hover {
	cursor: pointer;
}
button:visited, button:focus, button:hover{
	color: #EEE !important;
}
#seek-bar {
	width: 100%;
}

#volume-bar {
	width: 100%;
}
#mute {
	margin-left: 0px;
	margin-right: 4px;
}
video::-webkit-media-controls {
  display:none !important;
}
.no-cursor {
	cursor: none;
}

/* RANGE CSS*/





input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.8px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0.3px 0.3px 0.6px #000000, 0px 0px 0.3px #0d0d0d;
  background: #adb0fb;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 26px;
  width: 26px;
  border-radius: 50px;
  background: #19495e;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #fbfbff;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0.3px 0.3px 0.6px #000000, 0px 0px 0.3px #0d0d0d;
  background: #adb0fb;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 26px;
  width: 26px;
  border-radius: 50px;
  background: #19495e;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #5f65f7;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0.3px 0.3px 0.6px #000000, 0px 0px 0.3px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #adb0fb;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0.3px 0.3px 0.6px #000000, 0px 0px 0.3px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 26px;
  width: 26px;
  border-radius: 50px;
  background: #19495e;
  cursor: pointer;
  height: 8.4px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #adb0fb;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #fbfbff;
}
