/* CSS (stylus) declarations go here */
body
  padding-top 100px
  padding-bottom 80px
  background #607D8B

.navbar
  background #546E7A
  box-shadow 0px 6px 25px 1px rgba(0,0,0,0.65)

.navbar-default
    border-color rgba(#333, 0) !important

.new-torrent
  box-shadow 0px 6px 25px 1px rgba(0,0,0,0.8)

.video-con
  margin 20px 0px
  max-height 325px

.inside
  position relative
  height 325px
  max-height 325px
  width auto
  background-color rgba(255,255,255,.66)
  background-size cover
  box-shadow 0px 6px 25px 1px rgba(0,0,0,0.75)
//
// video
//   width 100%
//   height auto
//   position absolute
//   top 50%
//   transform translateY(-50%)
